<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account Settings</title>
    <th:block th:replace="fragments/head :: head"></th:block>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/dark-theme.css}" id="dark-theme-css" disabled />
</head>
<body th:classappend="${darkTheme} ? 'dark-theme' : ''">
    <th:block th:replace="fragments/navbar :: navbar"></th:block>
    <div class="container">
        <h2>Account Settings</h2>
        <form th:action="@{/accounts/settings}" th:object="${user}" method="post">
            <div>
                <label>Username:</label>
                <input type="text" th:field="*{username}" readonly />
            </div>
            <div>
                <label>Email:</label>
                <input type="email" th:field="*{email}" />
            </div>
            <div>
                <label>Dark Theme:</label>
                <input type="checkbox" name="darkTheme" th:checked="${darkTheme}" />
            </div>
            <button type="submit">Save Settings</button>
        </form>
    </div>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/account-settings.js}"></script>
</body>
</html>
